/*Global Styles*/

body {
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
    margin: 0;
}

input {
    align-items: center;
    display: flex;
    font-size: 100%;
    height: 30px;
    justify-content: space-between;
    margin: auto;
    width: 45%;
}

.container {
    display: flex;
    flex-direction: column;
    font-family: 'Roboto Slab', serif;
}

/*Form Styles*/

h1{
    color: #00a79d;
    display: inline-block;
    font-size: 275%;
    margin-bottom:  30px;
}

.form-container {
    background-color: #e5f3f2;
    height: 300px;
    align-items: center;
    text-align: center;
}

.alt-title-color {
    color: #6d6e71;
}

.save-btn {
    background-color: #00a79d;
    border: none;
    color: #fff;
    font-size: 120%;
    height: 30px;
    width: 45.5%;
}
.save-btn:hover {
    background-color: #045e55;
}

/*Search Styles*/

#search-field {
    margin-top: 50px;
}

/*Bottom Box Styles (change name)*/

button {
    background-color: transparent;
    border: none;
}

h2 {
   color: #6d6e71; 
   display: inline-block;
   font-family: 'Roboto Slab', serif;
   font-size: 150%;
}

.card-container {
    margin: auto;
    position: relative;
    width: 45%;
}

.title-of-card {
    color: #6D6E71;
    display: inline-block;
    font-family: 'Roboto Slab', serif;
    font-size: 140%;
}

.body-of-card {
    color: #939598;
    font-family: 'Open Sans', sans-serif;
    font-size: 100%;
}

.upvote, 
.downvote,
.delete-button {
    width: 20px;
    height: 20px;
}

.upvote {
    background-image: url(./images/upvote.svg);
    margin-right: 5px; 
}

.upvote:hover {
    background-image: url(./images/upvote-hover.svg);
}

.downvote {
    background-image: url(./images/downvote.svg);
    margin-right: 5px; 
}

.downvote:hover {
    background-image: url(./images/downvote-hover.svg);
}

.delete-button {
    background-image: url(./images/delete.svg);
    position: absolute;
    right: 10px;
    top: 15px;
}

.delete-button:hover {
    background-image: url(./images/delete-hover.svg);
}

@media(max-width: 640px){

    .card-container {
        width: 85%;
    }

    #search-field {
        border: solid #999 1px;
    }
}

